.view {
  @include list(width 100%);
  height: calc(100vh - 50px);
  padding: 0 20px 20px 200px;
}

.content {
  background: #fff;
  @include list(width 100%);
  height: calc(100vh - 120px);
}

.content-scroll {
  padding: 15px;
  overflow: auto;
  height: calc(100vh - 170px);
}

.content-footer {
  position: relative;
  width: 100%;
  background: $white;
  padding: 10px 15px;
  &::before {
    content: "";
    @include position(absolute, top 0, right 0);
    width: 100%;
    box-shadow: 0 1px 2px 2px #f6f6f6;
  }
}

.content-filter {
  @include list(padding 10, margin-bottom 1);
  @include position(relative);
  .ivu-input-wrapper {
    width: 300px;
  }
  .button-group {
    @include position(absolute, right 10, top 10);
  }
}

.content-toolbar {
  @include line-height(50);
  padding: 0 10px;
  .label {
    padding-right: 15px;
    border-right: 1px solid $borderColor;
  }
  .number {
    margin: 5px;
    color: $primary;
  }
  .button {
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  .icons {
    display: inline-flex;
  }
}

.content-table {
  margin: 0 10px 10px;
  position: relative;
  .icon-filter-column {
    @include position(absolute, right 14, top 10);
    z-index: 2;
    background: #f8f8f9;
  }
  .icon-ellipsis {
    width: 32px;
    @include position(relative, right 10);
  }
}

.cp-table-full {
  overflow: hidden;
  .ivu-table-wrapper {
    height: calc(100vh - 234px);
  }

  .ivu-table-body {
    height: calc(100vh - 275px);
    overflow-y: auto;
  }

  .ivu-table-fixed-body {
    height: calc(100vh - 276px);
  }
}

.cp-table-filtermodal {
  .ivu-checkbox-group-item {
    display: block;
    padding: 10px 20px;
    margin-right: 0;
    position: relative;
    &:hover {
      background: $bgColor;
      color: $primary;
      .arrow {
        display: block;
      }
    }
  }
  .ivu-drawer-body {
    padding: 0;
    height: calc(100% - 108px);
  }
  .arrow {
    @include position(absolute, right 20, top 10);
    display: none;
  }
}

.cp-drawer-footer {
  width: auto;
  @include position(fixed, right 0, bottom 0);
  .c-button {
    margin: 0 12px;
  }
}

.cp-color-hover {
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}

.c-color-gray {
  color: $gray;
}

.c-button {
  min-width: 85px;
}